/*This is supposed to be a css style sheet.
hopefully it will work as intended.*/

body{
	background: rgb(215,200,220);
	font-family: times-new-roman;
	text-align: center;
}

header{
	background-color: rgb(25, 50, 75);
	color: red;
	padding: 10px 10px;
}
p{
	color: blue;
	font-size: 16px;

}
img{
	border-style: dashed;
	border-width: medium;

}
ul{
	list-style: georgian;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	text-decoration-color: rgb(57, 210, 5);
}
